<%
    const title = 'LightweightProject - Password Reset Request';
    const description = 'LightweightProject - Password Reset';
    const keywords = 'LightweightProject, password, reset, authentication';
    const pageTitle = 'Password reset';
    const additionalStyles = '';
    const body = `
        <p class="greeting-note">Hello, <b>${username}</b> !<br>
           We received a request to reset the password for your account in LightweightProject.<br>
           Click the button below to set a new password:
        </p>
        <div class="button-container">
            <a href="${callbackUrl}"
               class="button"
               title="LightweightProject - password reset link"
               target="_blank">Reset Password</a>
        </div>
        <p class="expiry-note">This link will expire in 15 minutes for security reasons.</p>
        <p class="info-note">If you didn't request this password reset, you can safely ignore this email.<br>
            <i>Need help? Contact our support team for assistance.</i>
        </p>
    `;
%>
<%- include('layouts/email-layout.ejs', { title, description, keywords, pageTitle, additionalStyles, body }) %>
