<%
    const title = 'LightweightProject - Email Verification';
    const description = 'LightweightProject - Email Verification';
    const keywords = 'LightweightProject, email, verification, authentication';
    const pageTitle = 'Email verification';
    const additionalStyles = '';
    const body = `
        <p class="greeting-note">Hello <b>${username}</b> !<br>
           Thank you, for sign up in LightweightProject.<br>
           To continue, please verify your email address by clicking the button below:
        </p>
        <div class="button-container">
            <a href="${callbackUrl}"
               class="button"
               title="LightweightProject - email verification link"
               target="_blank">Verify Email</a>
        </div>
        <p class="info-note">If you didn't sign up in the LightweightProject, please, ignore this email.<br>
            <i>Need help? Contact our support team for assistance.</i></p>
    `;
%>
<%- include('layouts/email-layout.ejs', { title, description, keywords, pageTitle, additionalStyles, body }) %>
